# Byte-compiled / optimized / DLL files
__pycache__/
SpeedSense/__pycache__
WebApp/__pycache__

WebApp/templates/WebApp/table.html
WebApp/templates/WebApp/frequency_graph.html
WebApp/templates/WebApp/delta_speed_graph.html
secret_tokens.py
db.sqlite3
migrations/
host.bat