* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

body,
html {
    height: 100%;
    margin: 0;
}

.emptydb_error {
    margin-top: 20%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
    color: white;
}

.bg {
    /* The image used */
    background-image: linear-gradient(#161616, #000e1f);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
    opacity: 1;
}

.intro.show {
    opacity: 1;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff
}

.logo-header.hide {
    opacity: 0;
}

.logo-header.show {
    opacity: 1;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 100%;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.logo.hide {
    opacity: 0;
}

.main-svg {
    background: none;
}
.graph {
    pointer-events: none;
}

.navbar {
    overflow: hidden;
    background-color: #161616;
    font-family: "Poppins", sans-serif;
    bottom: 0px;
    width: 100vw;
    display: flex;
    /* Flexbox for horizontal alignment */
    justify-content: space-between;
    /* Space between items */
    /* Vertical centering */
    padding: 0px 0px;
    flex-wrap: wrap;
    align-items: center;
}

.navbar h2 {
    font-size: 200%;
    height: 80%;
    width: 20%;
    color: white;
    margin: 10px 5px;
    bottom: 5%;
}

.navbar a {
    height: 80%;
    width: 10%;
    font-size: 1.5em;
    color: white;
    /* Adjust padding for spacing */
    text-decoration: none;
    transition: ease-in 0.15s;
    flex-grow: 1;
    /* Allow links to grow equally */
    display: block;
    text-align: center;
}

.navbar a:hover {
    color: #0059CB;
    transition: ease-in 0.15s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}