* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

body, html {
    height: 100%;
    margin: 0;
}

svg.main-svg {
    background: inherit;
}

.bg {
/* The image used */
background-image: linear-gradient(#161616, #000e1f);

/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.intro.hide {
    opacity: 0;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 70px;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.logo.hide {
    opacity: 0;
}

.navbar {
overflow: hidden;
background-color: #161616;
font-family: "Poppins", sans-serif;
bottom: 0px;
}
.navbar h2 {
float: left;
font-size: 32px;
color: white;
text-align: center;
vertical-align: middle;
padding: 10px 12px;
text-decoration: none;

}
.navbar a {
float: left;
font-size: 22px;
color: white;
text-align: center;
padding: 10px 16px;
text-decoration: none;
transition: ease-in 0.15s;
}

.navbar a:hover{
    color: #0059CB;
    transition: ease-in 0.15s;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 100%;
left: 0;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content .header {
background: red;
padding: 16px;
color: white;
}

.dropdown:hover .dropdown-content {
display: block;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
    height: auto;
}
}