* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.emptydb_error {
    margin-top: 20%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
    color: white;
}

.bg {
    /* The image used */
    background-image: linear-gradient(#161616, #000e1f, #000e1f);
    /* Full height */
    height: fit-content;
    min-height: 100vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
    opacity: 1;
}

.intro.show {
    opacity: 1;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff
}

.logo-header.hide {
    opacity: 0;
}

.logo-header.show {
    opacity: 1;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 100%;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.logo.hide {
    opacity: 0;
}

.main-svg {
    background: none;
}

.graph {
    margin: 1% 5% 0% 5%;
}

.navbar {
    overflow: hidden;
    background-color: #161616;
    font-family: "Poppins", sans-serif;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1% 5% 1% 2%;
}

.navbar h2 {
    display: block;
    font-size: 1.8rem;
    width: 25%;
    color: white;
    bottom: 5%;
}

.navbar a {
    width: 5%;
    font-size: 1.5rem;
    color: white;
    /* Adjust padding for spacing */
    text-decoration: none;
    transition: ease-in 0.15s;
    flex-grow: 0.8;
    /* Allow links to grow equally */
    display: block;
    text-align: center;
}

.navbar a:hover {
    color: #0059CB;
    transition: ease-in 0.15s;
}