<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'WebApp/style.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
    <p id="url"></p>
      <!--Background Gradient-->
      <div class="bg">

        <div class="navbar">
            <h2>Speed Sense<h2>
            <a href="http://localhost:8000">Home</a>
            <a href="#Setup">Setup</a>
            <a href="">Analysis</a>
            <a href="#AboutUs">About Us</a>
          </div> 
        <div class="table">
            <!--Table-->
            {% include 'WebApp/table.html' %}
        </div>
      </div>
    </body>
</html>





