<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'WebApp/style.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
      <!--Background Gradient-->
      <div class="bg">
        {% if show_splash %}
        <div class="intro">
          <h1 class="logo-header">
              <span class="logo">Speed</span><span class="logo">&nbsp;Sense</span>
          </h1>
        </div>

        <script src="{% static 'WebApp/app.js' %}"></script>
        {% endif %}

        <div class="navbar">
          <h2>Speed Sense</h2>
          <a href="/Home">Home</a>
          <a href="/Setup">Setup</a>
          <a href="/Analysis">Analysis</a>
          <a href="https://github.com/newt-ttt/SpeedSense?tab=readme-ov-file">About Us</a>
        </div> 

        {% if resource == "Analysis" %}
          {% if not db_empty %}
            <div class='graph'>
              <!--Table-->
              {% include 'WebApp/table.html' %}
            </div>
            <div class='graph'>
              <!--Frequency Graph-->
              {% include 'WebApp/frequency_graph.html' %}
            </div>
            <div class='graph'>
              <!--Change in Speed Graph-->
              {% include 'WebApp/delta_speed_graph.html' %}
            </div>
            <!-- Recalculate the height of the background gradient if it loaded slowly-->
            <script src="{% static 'WebApp/refresh_height.js' %}"></script>
          {% else %}
            <div class="emptydb_error">
              Uh-Oh! It seems your database is empty and therefore we have no data to display!
            </div>
          {% endif %}
        {% endif %}
      </div>
    </body>
</html>





